<% content_for(:content) do %>
    <h1><%= t('rademade_admin.hello') %>, <%= @current_user %></h1>
    <span class="title-description">Start working with the best admin panel! :)</span>

<% end %>

<%= render :template => 'rademade_admin/_layouts/inner' %>