<% content_for(:content) do %>

    <div class="head">
        <h3><%= t('rademade_admin.hello') %>, <%= @current_user %></h3>
    </div>

<% end %>

<%= render :template => 'rademade_admin/_layouts/inner' %>