<% content_for(:content) do %>
    <h1><%= t('rademade_admin.hello') %>, <%= @current_user %></h1>
    <span class="title-description"><%= t('rademade_admin.title_description') %></span>
<% end %>

<%= render :template => @template_service.inner_layout %>
