<div class="login-bg">
    <div class="login-wrapper">
        <img class="logo" src="<%= image_path('rademade_admin/logos/logo-white.png') %>" alt="Rademade.com">
        <div class="box">
            <div class="content-wrap">
                <h6><%= t('rademade_admin.login') %></h6>
                <%= simple_form_for(
                    RademadeAdmin.user_class.new,
                    :url => [:sessions],
                    :as => :data,
                    :html => { :id => 'login-form' }
                ) do |f|
                    concat f.input :email, :label => false
                    concat f.input :password, :label => false
                    concat f.submit t('rademade_admin.login')
                end
            %></div>
        </div>
    </div>
</div>
