<div class="login">
    <div class="login-project">
        <div class="login-project-box">
            <a href="/" target="_blank" class="login-project-title"><%= t('rademade_admin.project') %></a>
        </div>
    </div>
    <div class="fix">
        <%= login_form do |f| %>
            <div class="login-form-title">
                <span class="login-form-company">Rademade</span>
                <span class="login-form-project">Admin</span>
            </div><%
            concat f.input :email, :label => t('rademade_admin.login.email'), :placeholder => t('rademade_admin.login.email')
            concat f.input :password, :label => t('rademade_admin.login.password'), :placeholder => t('rademade_admin.login.password')
            concat f.submit t('rademade_admin.login.submit'), :class => 'btn login-btn full-width'
            %><%= link_to forgot_passwords_path do %>
              <%= t('rademade_admin.login.forgot_password') %>
            <% end %><%
        end %>
    </div>
</div>