html
  font-size: 100%
  height: 100%
  min-height: 100%

body
  height: 100%
  min-height: 100%
  background: $white
  font-size: em(16)
  line-height: 1.46
  color: $gray
  -webkit-font-smoothing: antialiased
  +arial

.hide
  display: none !important

.ico
  display: block
  position: absolute

sup
  font-size: 50%
  line-height: 50%
  vertical-align: top