<div class="login-bg">
    <div class="login-wrapper">
        <img class="logo" src="<%=image_path('admin/logos/logo-white.png')%>" alt="Rademade.com">
        <div class="box">
            <div class="content-wrap">
                <h6>Log in</h6>

                <%=semantic_form_for(User.new,
                                     :url => [:admin, :sessions],
                                     :as => :data,
                                     :html => { :id => 'login-form'}) do |f|

                    concat f.input :email,
                                   :label => false,
                                   :input_html => {:class => 'form-control'}

                    concat f.input :password,
                                   :label => false,
                                   :input_html => {:class => 'form-control'}

                    concat f.action :submit,
                                    :label => 'Log in',
                                    :as => :button,
                                    :button_html => {:class => 'btn-glow primary login'}

                end

            %></div>
        </div>
    </div>
</div>
