$width: 100%

.upload-holder
  float: left
  padding: 2px
  width: 24%
  box-sizing: border-box
  +media-below($media-tablet)
    width: $width / 3

.upload-item
  position: relative
  display: block
  width: 100%
  vertical-align: top
  cursor: pointer
  overflow: hidden
  border: 1px solid #D1D8E6
  padding-bottom: 98%
  border-radius: 4px
  box-sizing: border-box

  &:hover
    &.add
      &:after
        +sprite(file_blue)

    .upload-text
      color: #3790D7
    .upload-delete
      opacity: 1

  &.add
    background-color: #F9FBFE
    color: rgba(71, 80, 98, 0.4)

    &:after
      position: absolute
      content: ""
      top: 23px
      left: 50%
      +sprite(file)
      transform: translateX(-50%)
      +media-below($media-desktop)
        top: 50%
        transform: translateY(-50%) translateX(-50%)

  &.is-loading
    padding-bottom: 98%
    background-color: #F9FBFE
    color: #34CD7F
    border: 1px solid #34CD7F
    border-radius: 4px

    &:after
      position: absolute
      content: ""
      top: 23px
      left: calc(50% + 12px)
      margin-left: -15px
      width: 25px
      height: 25px
      background: asset-url('rademade_admin/loader.GIF') center no-repeat
      +media-below($media-desktop)
        top: 50%
        transform: translateY(-50%) translateX(-50%)

  .upload-text
    position: absolute
    padding: 0 10px
    width: 100%
    top: 50%
    margin-top: 5px
    letter-spacing: 0.1px
    font-size: em(13)
    line-height: 15px
    text-align: center
    box-sizing: border-box
    +media-below($media-desktop)
      display: none

  input
    position: absolute
    z-index: 2
    top: 0
    left: 0
    font-size: 500em
    width: 500em
    opacity: 0
    cursor: pointer

  img
    position: absolute
    top: 0
    left: 0
    display: inline-block
    width: 100%
    border-radius: 4px
    vertical-align: top

  .upload-delete
    position: absolute
    top: 0
    right: 0
    width: 18px
    height: 18px
    background: rgba(255,255,255,0.4)
    border-radius: 0 4px
    opacity: 0
    transition: opacity $transitionVal ease-in-out,background $transitionVal ease-in-out
    &:hover
      background: #fff
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50)
      &:after
        opacity: 1

    &:after
      position: absolute
      content: ""
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)
      opacity: .7
      +sprite(delete-small)

  .upload-item-data
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #fff
    border-radius: 4px
