<div class="crop">
    <img class="crop-image" src="<%= imagePath %>">
    <div class="crop-actions">
        <button class="btn blue-btn" data-crop>Crop</button>
        <button class="btn red-btn" data-close>Discard</button>
    </div>
    <input type="hidden" data-crop-attribute="x"/>
    <input type="hidden" data-crop-attribute="y"/>
    <input type="hidden" data-crop-attribute="w"/>
    <input type="hidden" data-crop-attribute="h"/>
</div>