<div class="popup-headline">
    <!--<h2 class="popup-title">Photography12-28-12.jpg</h2>-->
    <div class="popup-actions">
        <span class="popup-btn popup-resize-btn">Обрезать</span>
        <span class="popup-btn-sep"></span>
        <span class="popup-btn popup-delete-btn">Удалить</span>
    </div>
    <i class="popup-close-btn" data-close></i>
</div>
<div class="popup-data">
    <div class="popup-gallery">
        <span class="popup-gallery-btn prev"></span>
        <ul class="popup-gallery-list">
            <li class="popup-gallery-item">
                <img src="#" class="popup-gallery-img"/>
            </li>
        </ul>
        <span class="popup-gallery-btn next"></span>
    </div>
</div>