<span><%= text %></span><%
if (editurl) {
    %><button data-edit="<%= editurl %>"><%= I18n.t('rademade_admin.edit_related_item') %></button><%
}
%><button data-remove><%= I18n.t('rademade_admin.destroy') %></button>