<span><%= text %></span><%
if (edit_url) {
    %><button data-edit="<%= edit_url %>"><%= I18n.t('rademade_admin.edit_related_item') %></button><%
}
%><button data-remove><%= I18n.t('rademade_admin.destroy') %></button>