<span><%= text %></span><%
if (editurl) {
    %><button class="select2-item-edit" data-edit="<%= editurl %>"><%= I18n.t('rademade_admin.relation.edit') %></button><%
}
%><button class="select2-item-remove" data-remove><%= I18n.t('rademade_admin.relation.destroy') %></button>