<thead class="table-header">
    <tr class="table-line"><%
        list_fields.each do |field|
            sorting_sign = ''
            %><th class="table-item"<%
                unless field.order_column.nil?
                    sorting_sign = @sortable_service.sorting_sign(field)
                    %> data-sort-column="<%= field.order_column %>"<%
                end
            %>>
                <span><%= field.label + sorting_sign %></span>
            </th><%
        end
        %><th class="table-item">
            <span class="line"></span>
            <span><%= t('rademade_admin.management') %></span>
        </th>
    </tr>
</thead>