.content
  padding-bottom: 70px
  position: relative
  transition: transform 0.3s ease-in-out

.content-data
  padding: 0 25px
  +media-below($media-desktop)
    padding: 55px 25px

.content-data-title
  padding: 20px 0
  font-size: em(40)

.content-box
  margin-top: 40px
  padding: 20px
  width: 100%
  background: $content-box-bg
  border: 1px solid $content-box-border
  border-radius: 4px 4px 0 0
  box-sizing: border-box

.content-btn-list
  padding: 35px 21px
  background: #EAEFF8
  border: 1px solid #CBD6E8
  border-top: 0
  border-radius: 0 0 4px 4px
  .btn-link
    margin-top: 0
    line-height: 42px
  .btn
    margin-right: 20px

  .content-btn-box
    max-width: 856px