.select2-add-btn
  position: relative
  display: block
  padding: 9px 15px 8px 35px
  color: #5AACEE
  font-size: em(14)
  cursor: pointer
  &:after
    position: absolute
    content: ''
    top: 50%
    left: 12px
    transform: translateY(-50%)
    +sprite(select2-add)

  &:hover
    background-color: #E9F4FE