.select2-drop
  margin-top: -2px
  box-shadow: none
  &.select2-drop-active
    border: .08em solid $form-input-border

  .select2-search
    padding: 0
    input
      padding: em(12) em(15)
      border: 0
      font-size: em(14)
      background: none !important
      height: auto !important
