rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0

services:
  - mongodb

branches:
  only:
    - master

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
  - bundle exec rake app:rademade_admin:bower:install
  - bundle exec rspec spec/