<%
if (isSortable) {
    %><i class="draggable-btn"></i><%
}
%><div class="select2-item-edit" data-edit="<%= editurl %>"><%= text %></div><%
if (isDeletable) {
    %><div class="select2-item-remove" data-remove><%= I18n.t('rademade_admin.relation.destroy') %></div><%
}
if (isDuplicatable) {
    %><div class="select2-item-duplicate" data-duplicate>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 52 52"><path d="M45 0H11a1 1 0 0 0-1 1v3H7a1 1 0 0 0-1 1v46a1 1 0 0 0 1 1h34a1 1 0 0 0 1-1v-3h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm-5 50H8V6h23v8a1 1 0 0 0 1 1h8v35zM33 7.414L38.586 13H33V7.414zM44 46h-2V14c0-.022-.011-.041-.013-.063a1.028 1.028 0 0 0-.051-.257c-.011-.032-.019-.063-.034-.094a.997.997 0 0 0-.196-.293l-9-9a.997.997 0 0 0-.293-.196c-.031-.014-.062-.022-.094-.033a.945.945 0 0 0-.258-.051C32.041 4.011 32.021 4 32 4H12V2h32v44z"/></svg>
    </div><%
}
%>