.content
    height: 100%
    height: auto!important
    min-height: 100%
    width: 100%
    padding: 0 0 0 275px
    background-color: #ecf0f1
    +box-sizing(border-box)

    .content-box
        padding: 15px 20px
        +border-radius(0 0 4px 0)