.form-label
  float: left
  padding: 12px 15px 0 0
  width: 40%
  color: $form-label-color
  font-size: em(15)
  line-height: 21px
  box-sizing: border-box
  +media-below($media-mobile)
    float: none
    display: block
    width: 100%
    padding-right: 75px
    margin-bottom: 10px