.form
  display: block
  max-width: 856px
  +clear

.form-box
  position: relative
  display: block
  padding-right: 50px
  margin-bottom: 25px
  box-sizing: border-box
  +clear
  +media-below($media-mobile)
    padding-right: 0


.ui-tabs-panel
  .form-box
    padding-right: 0

input
  -webkit-appearance: none
  -moz-appearance: none