.form-textarea
  display: block
  padding: em(10) em(15)
  width: 100%
  height: em(150)
  font-size: em(14)
  color: $form-textarea-color
  outline: none
  border: .08em solid $form-textarea-border
  border-radius: em(4)
  box-sizing: border-box