<%= f.actions :class => 'col-md-12 submit-box' do %>
    <%= f.action :submit, :button_html => {:class => 'btn-glow primary'} %>
    <span>OR</span>
    <%= f.action :cancel, :button_html => {:class => 'reset'} %>
<% end %>