@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: local('Arial');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: local('Arial');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: local('Arial');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: local('Arial');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: local('Arial');
  font-weight: normal;
  font-style: normal;
}

