%svg-common {
  background: asset-url('rademade_admin/sprite.svg') no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 47.5177304964539% 86.82170542635659%;
}

.svg-add-dims {
	width: 17px;
	height: 17px;
}

.svg-button_add {
	@extend %svg-common;
	background-position: 78.98550724637681% 16.53543307086614%;
}

.svg-button_add-dims {
	width: 20px;
	height: 19px;
}

.svg-button_add_blue {
	@extend %svg-common;
	background-position: 12.949640287769784% 73.22834645669292%;
}

.svg-button_add_blue-dims {
	width: 19px;
	height: 19px;
}

.svg-calendar-next {
	@extend %svg-common;
	background-position: 10.81081081081081% 100%;
}

.svg-calendar-next-dims {
	width: 10px;
	height: 16px;
}

.svg-calendar-prev {
	@extend %svg-common;
	background-position: 17.56756756756757% 100%;
}

.svg-calendar-prev-dims {
	width: 10px;
	height: 16px;
}

.svg-checkbox_active {
	@extend %svg-common;
	background-position: 0 56.19834710743802%;
}

.svg-checkbox_active-dims {
	width: 25px;
	height: 25px;
}

.svg-checkbox_empty {
	@extend %svg-common;
	background-position: 18.796992481203006% 56.19834710743802%;
}

.svg-checkbox_empty-dims {
	width: 25px;
	height: 25px;
}

.svg-checked {
	@extend %svg-common;
	background-position: 78.98550724637681% 30.53435114503817%;
}

.svg-checked-dims {
	width: 20px;
	height: 15px;
}

.svg-close_gray {
	@extend %svg-common;
	background-position: 21.48148148148148% 36.29032258064516%;
}

.svg-close_gray-dims {
	width: 23px;
	height: 22px;
}

.svg-close_white {
	@extend %svg-common;
	background-position: 78.98550724637681% 43.65079365079365%;
}

.svg-close_white-dims {
	width: 20px;
	height: 20px;
}

.svg-datetimepicker-next {
	@extend %svg-common;
	background-position: 24.324324324324323% 100%;
}

.svg-datetimepicker-next-dims {
	width: 10px;
	height: 16px;
}

.svg-datetimepicker-prev {
	@extend %svg-common;
	background-position: 41.891891891891895% 100%;
}

.svg-datetimepicker-prev-dims {
	width: 10px;
	height: 16px;
}

.svg-dd-tile {
	@extend %svg-common;
	background-position: 82.3943661971831% 82.3529411764706%;
}

.svg-dd-tile-dims {
	width: 16px;
	height: 10px;
}

.svg-delete-small {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-delete-small-dims {
	width: 11px;
	height: 10px;
}

.svg-discard_red {
	@extend %svg-common;
	background-position: 92.14285714285714% 56.25%;
}

.svg-discard_red-dims {
	width: 18px;
	height: 18px;
}

.svg-dragndrop {
	@extend %svg-common;
	background-position: 50.99337748344371% 0;
}

.svg-dragndrop-dims {
	width: 7px;
	height: 28px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 61.31386861313869% 40.298507462686565%;
}

.svg-eye-dims {
	width: 21px;
	height: 12px;
}

.svg-file {
	@extend %svg-common;
	background-position: 63.1578947368421% 0;
}

.svg-file-dims {
	width: 25px;
	height: 27px;
}

.svg-file_blue {
	@extend %svg-common;
	background-position: 63.1578947368421% 22.689075630252102%;
}

.svg-file_blue-dims {
	width: 25px;
	height: 27px;
}

.svg-image {
	@extend %svg-common;
	background-position: 36.76470588235294% 53.96825396825397%;
}

.svg-image-dims {
	width: 22px;
	height: 20px;
}

.svg-info {
	@extend %svg-common;
	background-position: 59.57446808510638% 86.82170542635659%;
}

.svg-info-dims {
	width: 17px;
	height: 17px;
}

.svg-invisible {
	@extend %svg-common;
	background-position: 52.55474452554745% 53.96825396825397%;
}

.svg-invisible-dims {
	width: 21px;
	height: 20px;
}

.svg-jcrop {
	@extend %svg-common;
	background-position: 71.12676056338029% 85.49618320610686%;
}

.svg-jcrop-dims {
	width: 16px;
	height: 15px;
}

.svg-left-arrow {
	@extend %svg-common;
	background-position: 10.344827586206897% 87.5%;
}

.svg-left-arrow-dims {
	width: 13px;
	height: 18px;
}

.svg-left-arrow_blue {
	@extend %svg-common;
	background-position: 37.241379310344826% 87.5%;
}

.svg-left-arrow_blue-dims {
	width: 13px;
	height: 18px;
}

.svg-link {
	@extend %svg-common;
	background-position: 32.394366197183096% 100%;
}

.svg-link-dims {
	width: 16px;
	height: 16px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 78.98550724637681% 0;
}

.svg-logout-dims {
	width: 20px;
	height: 21px;
}

.svg-next {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-next-dims {
	width: 23px;
	height: 45px;
}

.svg-password {
	@extend %svg-common;
	background-position: 89.58333333333333% 14.0625%;
}

.svg-password-dims {
	width: 14px;
	height: 18px;
}

.svg-password_red {
	@extend %svg-common;
	background-position: 89.58333333333333% 28.125%;
}

.svg-password_red-dims {
	width: 14px;
	height: 18px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 92.14285714285714% 42.1875%;
}

.svg-pen-dims {
	width: 18px;
	height: 18px;
}

.svg-photo {
	@extend %svg-common;
	background-position: 0 36.58536585365854%;
}

.svg-photo-dims {
	width: 29px;
	height: 23px;
}

.svg-prev {
	@extend %svg-common;
	background-position: 17.037037037037038% 0;
}

.svg-prev-dims {
	width: 23px;
	height: 45px;
}

.svg-rejected {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-rejected-dims {
	width: 16px;
	height: 16px;
}

.svg-resize {
	@extend %svg-common;
	background-position: 38.23529411764706% 36%;
}

.svg-resize-dims {
	width: 22px;
	height: 21px;
}

.svg-right-arrow {
	@extend %svg-common;
	background-position: 19.310344827586206% 87.5%;
}

.svg-right-arrow-dims {
	width: 13px;
	height: 18px;
}

.svg-right-arrow_blue {
	@extend %svg-common;
	background-position: 28.275862068965516% 87.5%;
}

.svg-right-arrow_blue-dims {
	width: 13px;
	height: 18px;
}

.svg-search {
	@extend %svg-common;
	background-position: 0 73.22834645669292%;
}

.svg-search-dims {
	width: 18px;
	height: 19px;
}

.svg-search_blue {
	@extend %svg-common;
	background-position: 40% 73.22834645669292%;
}

.svg-search_blue-dims {
	width: 18px;
	height: 19px;
}

.svg-select-close {
	@extend %svg-common;
	background-position: 53.23741007194245% 73.22834645669292%;
}

.svg-select-close-dims {
	width: 19px;
	height: 19px;
}

.svg-select-edit {
	@extend %svg-common;
	background-position: 66.90647482014388% 72.65625%;
}

.svg-select-edit-dims {
	width: 19px;
	height: 18px;
}

.svg-select2 {
	@extend %svg-common;
	background-position: 32.394366197183096% 22.794117647058822%;
}

.svg-select2-dims {
	width: 16px;
	height: 10px;
}

.svg-select2-add {
	@extend %svg-common;
	background-position: 78.41726618705036% 58.59375%;
}

.svg-select2-add-dims {
	width: 19px;
	height: 18px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 26.618705035971225% 73.22834645669292%;
}

.svg-settings-dims {
	width: 19px;
	height: 19px;
}

.svg-sortable-down {
	@extend %svg-common;
	background-position: 49.31506849315068% 94.8905109489051%;
}

.svg-sortable-down-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-down_active {
	@extend %svg-common;
	background-position: 91.0958904109589% 81.75182481751825%;
}

.svg-sortable-down_active-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-up {
	@extend %svg-common;
	background-position: 57.534246575342465% 94.8905109489051%;
}

.svg-sortable-up-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-up_active {
	@extend %svg-common;
	background-position: 42.465753424657535% 22.62773722627737%;
}

.svg-sortable-up_active-dims {
	width: 12px;
	height: 9px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 77.77777777777777% 72.65625%;
}

.svg-trash-dims {
	width: 14px;
	height: 18px;
}

.svg-trash_r {
	@extend %svg-common;
	background-position: 64.58333333333333% 53.125%;
}

.svg-trash_r-dims {
	width: 14px;
	height: 18px;
}

.svg-trash_white {
	@extend %svg-common;
	background-position: 0 87.5%;
}

.svg-trash_white-dims {
	width: 15px;
	height: 18px;
}

.svg-user {
	@extend %svg-common;
	background-position: 92.14285714285714% 0;
}

.svg-user-dims {
	width: 18px;
	height: 18px;
}

.svg-user-photo {
	@extend %svg-common;
	background-position: 36.22047244094488% 0;
}

.svg-user-photo-dims {
	width: 31px;
	height: 31px;
}

.svg-user_red {
	@extend %svg-common;
	background-position: 92.14285714285714% 70.3125%;
}

.svg-user_red-dims {
	width: 18px;
	height: 18px;
}

