%svg-common {
  background: asset-url('rademade_admin/sprite.svg') no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 75.17241379310344% 28.925619834710744%;
}

.svg-add-dims {
	width: 20px;
	height: 19px;
}

.svg-add_blue {
	@extend %svg-common;
	background-position: 74.65753424657534% 61.15702479338843%;
}

.svg-add_blue-dims {
	width: 19px;
	height: 19px;
}

.svg-calendar-next {
	@extend %svg-common;
	background-position: 96.12903225806451% 25%;
}

.svg-calendar-next-dims {
	width: 10px;
	height: 16px;
}

.svg-calendar-prev {
	@extend %svg-common;
	background-position: 80.64516129032258% 90.3225806451613%;
}

.svg-calendar-prev-dims {
	width: 10px;
	height: 16px;
}

.svg-checkbox_active {
	@extend %svg-common;
	background-position: 17.857142857142858% 59.130434782608695%;
}

.svg-checkbox_active-dims {
	width: 25px;
	height: 25px;
}

.svg-checkbox_empty {
	@extend %svg-common;
	background-position: 0 59.130434782608695%;
}

.svg-checkbox_empty-dims {
	width: 25px;
	height: 25px;
}

.svg-checked {
	@extend %svg-common;
	background-position: 75.17241379310344% 16%;
}

.svg-checked-dims {
	width: 20px;
	height: 15px;
}

.svg-close_gray {
	@extend %svg-common;
	background-position: 20.422535211267604% 38.13559322033898%;
}

.svg-close_gray-dims {
	width: 23px;
	height: 22px;
}

.svg-close_white {
	@extend %svg-common;
	background-position: 75.17241379310344% 45%;
}

.svg-close_white-dims {
	width: 20px;
	height: 20px;
}

.svg-datetimepicker-next {
	@extend %svg-common;
	background-position: 67.74193548387096% 90.3225806451613%;
}

.svg-datetimepicker-next-dims {
	width: 10px;
	height: 16px;
}

.svg-datetimepicker-prev {
	@extend %svg-common;
	background-position: 74.19354838709677% 90.3225806451613%;
}

.svg-datetimepicker-prev-dims {
	width: 10px;
	height: 16px;
}

.svg-dd-tile {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-dd-tile-dims {
	width: 16px;
	height: 10px;
}

.svg-delete-small {
	@extend %svg-common;
	background-position: 96.75324675324676% 63.84615384615385%;
}

.svg-delete-small-dims {
	width: 11px;
	height: 10px;
}

.svg-discard_red {
	@extend %svg-common;
	background-position: 88.43537414965986% 61.47540983606557%;
}

.svg-discard_red-dims {
	width: 18px;
	height: 18px;
}

.svg-dragndrop {
	@extend %svg-common;
	background-position: 48.734177215189874% 0;
}

.svg-dragndrop-dims {
	width: 7px;
	height: 28px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 58.333333333333336% 42.1875%;
}

.svg-eye-dims {
	width: 21px;
	height: 12px;
}

.svg-file {
	@extend %svg-common;
	background-position: 60% 23.893805309734514%;
}

.svg-file-dims {
	width: 25px;
	height: 27px;
}

.svg-file_blue {
	@extend %svg-common;
	background-position: 60% 0;
}

.svg-file_blue-dims {
	width: 25px;
	height: 27px;
}

.svg-image {
	@extend %svg-common;
	background-position: 36.36363636363637% 37.5%;
}

.svg-image-dims {
	width: 22px;
	height: 20px;
}

.svg-info {
	@extend %svg-common;
	background-position: 48.648648648648646% 91.0569105691057%;
}

.svg-info-dims {
	width: 17px;
	height: 17px;
}

.svg-invisible {
	@extend %svg-common;
	background-position: 75.69444444444444% 0;
}

.svg-invisible-dims {
	width: 21px;
	height: 20px;
}

.svg-jcrop {
	@extend %svg-common;
	background-position: 100% 12.8%;
}

.svg-jcrop-dims {
	width: 16px;
	height: 15px;
}

.svg-left-arrow {
	@extend %svg-common;
	background-position: 71.05263157894737% 76.22950819672131%;
}

.svg-left-arrow-dims {
	width: 13px;
	height: 18px;
}

.svg-left-arrow_blue {
	@extend %svg-common;
	background-position: 0 91.80327868852459%;
}

.svg-left-arrow_blue-dims {
	width: 13px;
	height: 18px;
}

.svg-link {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-link-dims {
	width: 16px;
	height: 16px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 49.6551724137931% 57.142857142857146%;
}

.svg-logout-dims {
	width: 20px;
	height: 21px;
}

.svg-next {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-next-dims {
	width: 23px;
	height: 45px;
}

.svg-password {
	@extend %svg-common;
	background-position: 86.09271523178808% 76.22950819672131%;
}

.svg-password-dims {
	width: 14px;
	height: 18px;
}

.svg-password_red {
	@extend %svg-common;
	background-position: 60.9271523178808% 55.73770491803279%;
}

.svg-password_red-dims {
	width: 14px;
	height: 18px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 38.775510204081634% 76.22950819672131%;
}

.svg-pen-dims {
	width: 18px;
	height: 18px;
}

.svg-photo {
	@extend %svg-common;
	background-position: 0 38.46153846153846%;
}

.svg-photo-dims {
	width: 29px;
	height: 23px;
}

.svg-prev {
	@extend %svg-common;
	background-position: 16.197183098591548% 0;
}

.svg-prev-dims {
	width: 23px;
	height: 45px;
}

.svg-rejected {
	@extend %svg-common;
	background-position: 59.73154362416108% 90.3225806451613%;
}

.svg-rejected-dims {
	width: 16px;
	height: 16px;
}

.svg-resize {
	@extend %svg-common;
	background-position: 34.96503496503497% 57.142857142857146%;
}

.svg-resize-dims {
	width: 22px;
	height: 21px;
}

.svg-right-arrow {
	@extend %svg-common;
	background-position: 8.552631578947368% 91.80327868852459%;
}

.svg-right-arrow-dims {
	width: 13px;
	height: 18px;
}

.svg-right-arrow_blue {
	@extend %svg-common;
	background-position: 85.52631578947368% 46.721311475409834%;
}

.svg-right-arrow_blue-dims {
	width: 13px;
	height: 18px;
}

.svg-search {
	@extend %svg-common;
	background-position: 88.43537414965986% 31.40495867768595%;
}

.svg-search-dims {
	width: 18px;
	height: 19px;
}

.svg-search_blue {
	@extend %svg-common;
	background-position: 88.43537414965986% 15.702479338842975%;
}

.svg-search_blue-dims {
	width: 18px;
	height: 19px;
}

.svg-select-close {
	@extend %svg-common;
	background-position: 89.04109589041096% 0;
}

.svg-select-close-dims {
	width: 19px;
	height: 19px;
}

.svg-select-edit {
	@extend %svg-common;
	background-position: 26.027397260273972% 76.22950819672131%;
}

.svg-select-edit-dims {
	width: 19px;
	height: 18px;
}

.svg-select2 {
	@extend %svg-common;
	background-position: 30.87248322147651% 23.846153846153847%;
}

.svg-select2-dims {
	width: 16px;
	height: 10px;
}

.svg-select2-add {
	@extend %svg-common;
	background-position: 13.013698630136986% 76.22950819672131%;
}

.svg-select2-add-dims {
	width: 19px;
	height: 18px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 0 76.85950413223141%;
}

.svg-settings-dims {
	width: 19px;
	height: 19px;
}

.svg-sortable-down {
	@extend %svg-common;
	background-position: 97.38562091503267% 42.74809160305343%;
}

.svg-sortable-down-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-down_active {
	@extend %svg-common;
	background-position: 97.38562091503267% 49.61832061068702%;
}

.svg-sortable-down_active-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-up {
	@extend %svg-common;
	background-position: 97.38562091503267% 35.87786259541985%;
}

.svg-sortable-up-dims {
	width: 12px;
	height: 9px;
}

.svg-sortable-up_active {
	@extend %svg-common;
	background-position: 97.38562091503267% 56.48854961832061%;
}

.svg-sortable-up_active-dims {
	width: 12px;
	height: 9px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 26.490066225165563% 91.80327868852459%;
}

.svg-trash-dims {
	width: 14px;
	height: 18px;
}

.svg-trash_r {
	@extend %svg-common;
	background-position: 17.218543046357617% 91.80327868852459%;
}

.svg-trash_r-dims {
	width: 14px;
	height: 18px;
}

.svg-trash_white {
	@extend %svg-common;
	background-position: 62% 76.22950819672131%;
}

.svg-trash_white-dims {
	width: 15px;
	height: 18px;
}

.svg-user {
	@extend %svg-common;
	background-position: 51.02040816326531% 76.22950819672131%;
}

.svg-user-dims {
	width: 18px;
	height: 18px;
}

.svg-user-photo {
	@extend %svg-common;
	background-position: 34.32835820895522% 0;
}

.svg-user-photo-dims {
	width: 31px;
	height: 31px;
}

.svg-user_red {
	@extend %svg-common;
	background-position: 36.734693877551024% 91.80327868852459%;
}

.svg-user_red-dims {
	width: 18px;
	height: 18px;
}

