<div id="sidebar-nav">
    <ul id="dashboard-menu"><%
        main_menu.each do |menu_item|
            has_sub_items = (menu_item[:sub].is_a? Array and menu_item[:sub].size > 0)
            if has_sub_items || menu_item[:uri]
                item_name = menu_item[:name] || menu_item[:model_info].item_name
                is_active = active?(menu_item)
                %><li<%
                    if is_active
                        %> class="active"<%
                    end
                %>><%
                    if is_active
                        %><div class="pointer">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div><%
                    end

                    %><a href="<%= menu_item[:uri] %>"<%
                        if has_sub_items
                            %> class="dropdown-toggle"<%
                        end
                    %>>
                        <i class="<%= menu_item[:ico] %>"></i>
                        <span><%= item_name %></span><%
                        if has_sub_items
                            %><i class="fa fa-chevron-down"></i><%
                        end
                    %></a><%
                    if has_sub_items
                        %><ul class="submenu"><%
                            concat render @template_service.sub_menu_link_block, {
                                :uri => admin_list_uri(menu_item[:model_info]),
                                :title => menu_item[:model_info].item_name
                            }
                            concat render @template_service.sub_menu_block, :menu_item => menu_item
                        %></ul><%
                    end
                %></li><%
            end
        end
    %></ul>
</div>