<div class="select-list fl-r">
    <div class="select-list-text fl-l">
        <span><%= t('rademade_admin.show_results') %></span>
    </div>
    <div class="select-list-box fl-r">
        <form action="#" method="get">
            <select class="btn blue-btn select-btn fl-l" id="perPageSelect" name="paginate"><%
                [20, 40, 60].each do |per_page|
                    concat pagination_option(per_page)
                end
            %></select>
        </form>
    </div>
</div>
<div class="clear"></div>