<div class="paginator">
    <%= paginate @items, :params => { :admin_params => {} } %>
</div>

<div class="paginator-stats">
    <span><%= t('rademade_admin.show_results') %></span>
</div>

<div class="paginator-controll">
  <form action="#" method="get">
    <select id="perPageSelect" name="paginate"><%
       [20, 40, 60].each do |per_page|
         concat pagination_option(per_page)
       end
    %></select>
  </form>
</div>
