<!--<div class="pagination fll">-->
    <!--<a href="#" class="pagination-link is-prev">Предыдущая</a>-->
    <!--<a href="#" class="pagination-link is-active">1</a>-->
    <!--<a href="#" class="pagination-link">2</a>-->
    <!--<a href="#" class="pagination-link">3</a>-->
    <!--<a href="#" class="pagination-link">4</a>-->
    <!--<a href="#" class="pagination-link">5</a>-->
    <!--<span class="pagination-sep">...</span>-->
    <!--<a href="#" class="pagination-link">17</a>-->
    <!--<a href="#" class="pagination-link is-next">Следующая</a>-->
<!--</div>-->
<%= paginate @items, :params => {:admin_params => {}} %>