<%
unless @model_info.data_items.string_fields.empty?
    list_uri = admin_list_uri(@model)
    %><form class="content-search flr" action="<%= list_uri %>" data-turboform>
        <input class="content-search-input" type="text" name="q"
            value="<%= params[:q] %>" placeholder="<%= t('rademade_admin.search') %>"/>
        <button class="content-search-ico"></button>
    </form><%
end %>