<%
unless @model_info.data_items.filter_fields.empty?
    %><form class="search" action="<%= admin_list_uri(@model) %>" data-turboform>
        <input id="searchInput" type="text" name="search" value="<%= params[:search] %>"/>
        <button class="btn blue-btn">Поиск</button>
    </form><%
end %>