<%= f.button :submit, :class => 'blue-btn' %>
<span class="btn-sep"><%= t('rademade_admin.or') %></span>
<%= link_to t('rademade_admin.cancel'), admin_list_uri(@model) || '', :class => 'cancel-btn' %>