<%
@form_fields_with_locale.each do |form_field|
    %><div data-lang-panel><%
        element_id_prefix = "locale-#{form_field.name}-"
        %><ul class="form-lang-switch<%
            if form_field.form_params[:as] == :ckeditor
                %> with-editor<%
            end
        %>"><%
            I18n.available_locales.each do |locale|
                %><li class="form-lang-item">
                    <a class="form-lang-link" href="#<%= element_id_prefix %><%= locale %>"><%
                        concat t("rademade_admin.locale.#{locale}", :default => locale)
                    %></a>
                </li><%
            end
        %></ul><%
        I18n.available_locales.each do |locale|
            %><div id="<%= element_id_prefix %><%= locale %>"><%
                admin_localized_field(f, form_field, @model_info, locale)
            %></div><%
        end
    %></div><%
end %>