<%
if @form_fields_with_locale.length > 0
    %><div data-lang-panel>
        <ul class="form-box">
          <li class="form-label">
            <span class="text">Язык</span>
          </li><%
            I18n.available_locales.each do |locale|
                %><li class="lang-btn" style="margin-right: 10px; padding: 0px">
                    <a href="#locale-<%= locale %>" style="color: #ffffff; display: block; width: 37px; line-height: 30px"><%= locale %></a>
                </li><%
            end
        %></ul><%
        I18n.available_locales.each do |locale|
            %><div id="locale-<%= locale %>"><%
                @form_fields_with_locale.each do |form_field|
                    admin_localized_field(f, form_field, @model_info, locale)
                end
            %></div><%
        end
    %></div><%
end %>