<% content_for(:last_crumbs) do %>
    <%= link_to @item_name + ' list', admin_list_uri(@model_name) %>
    <span class="separator">-></span>
    <%= yield(:form_last_crumbs) if content_for?(:form_last_crumbs) %>
<% end %>

<% content_for(:content) do %>
    <div class="row form-wrapper">
        <div class="col-md-9 with-sidebar">
            <%= render @form_template_path %>
        </div>
    </div>
<% end %>

<%= render :template => 'rademade_admin/_layouts/inner' %>