<% content_for :content do %>
    <table class="table table-hover"><%
        concat render 'rademade_admin/_blocks/table/head', {
            :list_fields => @list_fields
        }
        %><tbody data-position='false'><%
            @items.each do |item|
                %><tr<%
                    if @sortable_service.has_position?
                        %> id='<%= item.position %>'<%
                    end
                %> data-id='<%= item.id %>'><%
                    @list_fields.each do |field|
                        %><td><%= display_item_value(item, field) %></td><%
                    end
                    %><td>
                        <ul class="actions">
                            <li><%= button_to t('rademade_admin.unlink'), admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                                :method => :patch,
                                :form => {:class => 'delete-item-form'}
                            } %></li>
                        </ul>
                    </td>
                </tr><%
            end
        %></tbody>
    </table><%
    concat render 'rademade_admin/_blocks/pagination'
end %>