<% content_for :content do %><%
    concat render @template_service.on_page_select_block
    %><table class="table-box"><%
        concat render @template_service.table_head_block, {
            :list_fields => @list_fields
        }
        %><tbody class="table-content" data-position='false'><%
            @items.each do |item|
                %><tr<%
                    if @sortable_service.has_position?
                        %> id='<%= item.position %>'<%
                    end
                %> class="table-line" data-id='<%= item.id %>'><%
                    @list_fields.each do |field|
                        %><td class="table-item"><%= display_item_value(item, field) %></td><%
                    end
                    %><td class="table-item">
                        <span class="table-actions">
                            <%= button_to t('rademade_admin.unlink'), admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                                :method => :patch,
                                :form => { :class => 'delete-item-form' }
                            } %>
                        </span>
                    </td>
                </tr><%
            end
        %></tbody>
    </table><%
    concat render @template_service.pagination_block
end %>