.nav-item
  position: relative
  border-bottom: 1px solid $nav-link-border
  box-sizing: border-box
  &.with-dd
    .nav-link
      &:before
        position: absolute
        content: ""
        right: 16px
        top: 19px
        opacity: .5
        +sprite(dd-tile)
      &.is-active
        &:before
          opacity: 1
      &:hover
        &:before
          opacity: 1
