.nav-user
  position: relative
  padding: 12px 60px
  height: 21px
  background: $nav-user-bg
  color: $nav-user-color
  font-size: em(15)
  +to(block)
  +clear

  .user-img
    position: absolute
    top: 50%
    left: 16px
    transform: translateY(-50%)
    width: 40px
    height: 40px
    border-radius: 50%

    &:after
      position: absolute
      content: ""
      top: 50%
      left: 50%
      opacity: .7
      transform: translateY(-50%) translateX(-50%)
      +sprite(user-photo)

  .user-settings
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 15px
    opacity: .5
    cursor: pointer
    transition: opacity $transitionVal ease-in-out
    +sprite(logout)
    &:hover
      opacity: 1
