<div class="login-form">
   <div class="login-form-title">
     <span class="login-form-project"><%=t('rademade_admin.forgot_password.success', email: @user.email)%></span>
   </div>
  <%= link_to t('rademade_admin.forgot_password.back_to_login'), login_path, class: 'btn login-btn full-width' %>
</div>