<div class="login">
    <div class="login-project">
        <div class="login-project-box">
            <a href="/" target="_blank" class="login-project-title"><%= t('rademade_admin.project') %></a>
        </div>
    </div>
    <div class="fix">
      success
    </div>
</div>