<%
if can? :destroy, @model
    delete_uri = admin_delete_uri(item)
    unless delete_uri.nil?
        %><div class="glyphicon glyphicon-remove fl-l"><%
            concat button_to t('rademade_admin.destroy'), delete_uri, {
                :method => :delete,
                :form => { :class => 'delete-item-form' }
            }
        %></div><%
    end
end %>