<% content_for :form_last_crumbs do %>
    <span>Edit</span>
<% end %>

<% content_for :page_header do %>
    <h3>Edit "<%=@item.class%> id=<%=@item.id.to_s%>"</h3>
<% end %>

<%= render :template => 'rademade_admin/_layouts/inner/form' %>