<% content_for :nav_buttons do %><%
    new_uri = admin_new_uri(@model_info)
    concat link_to(t('rademade_admin.record.new'), new_uri, :class => 'btn is-blue with-ico ico-add') if new_uri
    if @model_info.has_csv?
        csv_uri = admin_list_uri(@model_info, :format => :csv)
        concat link_to(t('rademade_admin.export.csv'), csv_uri, :class => 'btn-link is-blue') if csv_uri
    end
end %>

<div class="content-item">
    <div class="content-header">
        <a href="<%= admin_list_uri(@model_info) %>" class="content-header-link"><%= @model_info.item_name %></a>
    </div>
    <div class="content-data">
        <div class="btn-list">
            <div class="btn-box align-left fll"><%= yield(:nav_buttons) %></div><%
            concat render @template_service.search_block
        %></div>
        <div class="content-table-holder">
            <table class="content-table" cellspacing="0" cellpadding="0"><%
                concat render @template_service.table_head_block
                concat render @template_service.table_head_list
            %></table>
        </div>
        <div class="btn-list"><%
            concat render @template_service.pagination_block
            concat render @template_service.on_page_switcher_block
        %></div>
    </div>
</div>