<!--<div class="content-header">-->
    <!--<a href="#" class="content-header-link">Dashboard</a>-->
<!--</div>-->
<%= breadcrumbs.render(:format => :rademade) %>
<div class="content-data">
    <div class="btn-list">
        <div class="btn-box align-left fll">
            <a href="#" class="btn is-blue with-ico ico-add">Добавить запись</a>
            <a href="#" class="btn-link is-blue"><span>Скачать XLS</span></a>
            <a href="#" class="btn-link is-blue"><span>Скачать CSV</span></a>
            <a href="#" class="btn-link is-blue"><span>Скачать XLS</span></a>
        </div>
        <div class="content-search flr">
            <input type="text" placeholder="Поиск в рубрике" class="content-search-input"/><i class="content-search-ico"></i>
        </div>
    </div>
</div>