<% content_for(:form_last_crumbs) do %>
    <span>Add</span>
<% end %>

<% content_for(:page_header) do %>
    <h3><%= admin_add_name(@model_info) %></h3>
<% end %>

<%= render :template => 'rademade_admin/_layouts/inner/form' %>