.content
    .form-box
        position: relative
        padding-left: 285px
        margin-bottom: 20px
        +clear
        .form-label
            position: absolute
            top: 0
            left: 0
            width: 265px
        .input-holder
            float: left
            width: 100%
            max-width: 600px