.gallery
  +clear
  .gallery-images-container
    overflow: auto
    .gallery-image
      display: inline-block
      position: relative
      padding: 5px
  .gallery-image-upload
    float: left
    position: relative
    width: 100%
    height: 98px
    padding: 96px 0 0
    margin: 0 5px 5px 0
    border: 1px dashed #BDC3C7
    font-size: 300px
    overflow: hidden
    cursor: pointer
    background-color: #ffffff
    outline: none
    +border-radius(3px)
    +box-sizing(border-box)
    &:hover
      opacity: 0.6
    &:after
      position: absolute
      top: 0
      left: 0
      padding-top: 45px
      content: "Click or drop files here"
      text-align: center
      width: 100%
      height: 100%
      font-size: 15px
      color: #555
      +box-sizing(border-box)


  .remove-ico
    position: absolute
    top: 2px
    right: 5px
    width: 16px
    height: 16px
    padding: 1px
    cursor: pointer
    border-radius: 3px
    color: #333
    font-weight: bold
    overflow: hidden
    font-size: 16px
    text-indent: 100%
    background-color: #fff
    &:before
      position: absolute
      top: 2px
      left: 1px
      width: 16px
      height: 16px
      text-indent: 0
      @extend .glyphicon
    @extend .glyphicon-remove
    &:hover
      +opacity(0.9)

  .crop-btn
    position: absolute
    top: 2px
    right: 26px
    width: 16px
    height: 16px
    padding: 1px
    cursor: pointer
    border-radius: 3px
    color: #333
    font-weight: bold
    overflow: hidden
    font-size: 14px
    text-indent: 100%
    background-color: #fff
    border: 0
    +box-sizing(content-box)
    &:before
      position: absolute
      top: 2px
      left: 1px
      width: 16px
      height: 16px
      text-indent: 0
      @extend .glyphicon
    @extend .glyphicon-fullscreen
    &:hover
      +opacity(0.9)


  .gallery-images-container
    float: left
    margin: 0 -2px
    .gallery-image
      float: left
      margin: 0 2px 4px 2px
      width: 135px
      height: 98px
      border: 1px solid #BDC3C7
      +border-radius(3px)
      img
        max-width: 100% !important
        max-height: 100% !important