.btn
  color: $white
  background: $gray
  border: 1px solid $gray

  &:hover
    color: $gray
    background: none

  &.is-stroke
    color: $gray
    background: none

    &:hover
      color: $white
      background: $gray
