<%
concat render @template_service.header_block
%><div class="page">
    <div class="fix"><%
        concat render @template_service.menu_block
        %><div id="pad-wrapper" class="content"><%
            concat breadcrumbs.render(:format => :rademade)
            %><div class="table-wrapper products-table content-box"><%
                if content_for?(:page_header)
                    %><div class="page-headline">
                        <%= yield(:page_header) %> <span class="small-desc hide">In this field small page description</span>
                    </div><%
                end
                if content_for?(:nav_buttons)
                    %><div class="row filter-block">
                        <div class="pull-right">
                            <%= yield(:nav_buttons) %>
                        </div>
                    </div><%
                end
                %><%= yield(:content) if content_for?(:content) %>
            </div>
        </div>
    </div>
</div>