.image-preview-popup {
    padding: 50px 0;
    width: 75%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.image-preview-popup img {
    width: 100%;
}

tr .image-preview {
    cursor: pointer;
}