.gallery {

}

.gallery .gallery-images-container {
    overflow: auto;
}

.gallery .gallery-images-container .gallery-image {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.gallery .gallery-image-upload {
    width: 148px;
    height: 98px;
    border: 1px dashed #BDC3C7;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
}

.gallery .gallery-image-upload:hover {
    opacity: 0.6;
}

.gallery .remove-ico {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 13px;
    cursor: pointer;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: #FFF;
    font-weight: bold;
}