/*
 *= require         jquery.fileupload-ui
 *= require         select2
 *= require_tree    ./rademade_admin
 */

.cke_chrome {
    width: 76% !important;
    overflow: hidden;
}

#sidebar-nav #dashboard-menu ul.submenu {
    margin-left: -7px;
}