.form
  display: block
  max-width: 730px
  +clear
  +media-below(1900)

.form-box
  position: relative
  display: block
  padding-right: em(50)
  margin-bottom: em(25)
  box-sizing: border-box
  +clear

  //+media-above(1920)
  //  display: inline-block
  //  padding-right: em(20)
  //  vertical-align: top
  //  width: 50%


.ui-tabs-panel
  .form-box
    padding-right: 0