.form-box
  .input-holder
    .select2-container
      width: 100%
      height: 34px
      margin-bottom: 10px
      .select2-choices
        padding: 0
        display: block
        width: 100%
        font-size: 14px
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        +box-sizing(border-box)
        +border-radius(4px)
        +box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075))
        +transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s)
        &:focus
          border-color: #66afe9
          +box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6))

        .select2-search-choice
          display: none

        .select2-search-field
          height: 34px

        input[type="text"]
          border: 0
          padding: 4px 12px
          &:focus
            outline: 0
            +box-shadow(none)

      .select2-choice
        height: 34px
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        .select2-chosen
          height: 34px
          line-height: 34px
          font-size: 14px
        .select2-arrow
          b
            background-position: 0 4px

  .select2-items-list
    float: left
    margin-top: 15px
    width: 100%
    border-top: 1px solid #bdc3c7
    li
      padding: 10px 0
      font-size: 14px
      line-height: 24px
      border-bottom: 1px solid #bdc3c7
      +clear
      span
        float: left
        width: 63%
        +to
      button
        float: right

  .select2-item-edit,
  .select2-item-remove
    position: relative
    width: 25px
    height: 25px
    background: none
    overflow: hidden
    text-indent: 100%
    cursor: pointer
    &:before
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      font-size: 14px
      color: #000
      text-indent: 0
      @extend .glyphicon

  .select2-item-edit
    @extend .glyphicon-edit

  .select2-item-remove
    @extend .glyphicon-trash