<div class="login">
    <div class="login-project">
        <div class="login-project-box">
            <a href="/" target="_blank" class="login-project-title"><%= t('rademade_admin.project') %></a>
        </div>
    </div>
    <div class="fix">
        <%= simple_form_for(:data, { url: reset_password_path(id: params[:id]), method: :put,
                                                                 :wrapper => :rademade_login,
                                                                 html: { id: 'reset-password-form', class: 'login-form' } }) do |f| %>
            <div class="login-form-title">
                <span class="login-form-project">Set new password for <%=@user.email%></span>
            </div><%
            concat f.input :password, :label => t('rademade_admin.login.password'), :placeholder => t('rademade_admin.login.password')
            concat f.input :password_repeat, :label => t('rademade_admin.reset_password.password_repeat'), :placeholder => t('rademade_admin.reset_password.password_repeat')
            concat f.submit t('rademade_admin.reset_password.submit'), :class => 'btn login-btn full-width'
        end%>
    </div>
</div>