%svg-common {
  background: asset-url('rademade_admin/sprite.svg') no-repeat;
}


.svg-add {
	@extend %svg-common;
	background-position: 87.5% 18.367346938775512%;
}

.svg-add-dims {
	width: 18px;
	height: 17px;
}

.svg-add_blue {
	@extend %svg-common;
	background-position: 86.72566371681415% 35.714285714285715%;
}

.svg-add_blue-dims {
	width: 17px;
	height: 17px;
}

.svg-checked {
	@extend %svg-common;
	background-position: 16.964285714285715% 62.745098039215684%;
}

.svg-checked-dims {
	width: 18px;
	height: 13px;
}

.svg-close_gray {
	@extend %svg-common;
	background-position: 69.72477064220183% 26.31578947368421%;
}

.svg-close_gray-dims {
	width: 21px;
	height: 20px;
}

.svg-close_white {
	@extend %svg-common;
	background-position: 87.5% 0;
}

.svg-close_white-dims {
	width: 18px;
	height: 18px;
}

.svg-datetimepicker-next {
	@extend %svg-common;
	background-position: 95.08196721311475% 35.64356435643565%;
}

.svg-datetimepicker-next-dims {
	width: 8px;
	height: 14px;
}

.svg-datetimepicker-prev {
	@extend %svg-common;
	background-position: 95.08196721311475% 21.782178217821784%;
}

.svg-datetimepicker-prev-dims {
	width: 8px;
	height: 14px;
}

.svg-dd-tile {
	@extend %svg-common;
	background-position: 100% 13.08411214953271%;
}

.svg-dd-tile-dims {
	width: 14px;
	height: 8px;
}

.svg-delete-small {
	@extend %svg-common;
	background-position: 95.86776859504133% 59.81308411214953%;
}

.svg-delete-small-dims {
	width: 9px;
	height: 8px;
}

.svg-discard_red {
	@extend %svg-common;
	background-position: 78.0701754385965% 82.82828282828282%;
}

.svg-discard_red-dims {
	width: 16px;
	height: 16px;
}

.svg-dragndrop {
	@extend %svg-common;
	background-position: 56.8% 0;
}

.svg-dragndrop-dims {
	width: 5px;
	height: 26px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 37.83783783783784% 27.61904761904762%;
}

.svg-eye-dims {
	width: 19px;
	height: 10px;
}

.svg-file {
	@extend %svg-common;
	background-position: 70.37037037037037% 0;
}

.svg-file-dims {
	width: 22px;
	height: 25px;
}

.svg-image {
	@extend %svg-common;
	background-position: 69.0909090909091% 46.391752577319586%;
}

.svg-image-dims {
	width: 20px;
	height: 18px;
}

.svg-invisible {
	@extend %svg-common;
	background-position: 0 65.97938144329896%;
}

.svg-invisible-dims {
	width: 19px;
	height: 18px;
}

.svg-left-arrow {
	@extend %svg-common;
	background-position: 88.23529411764706% 82.82828282828282%;
}

.svg-left-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-left-arrow_blue {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-left-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-link {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-link-dims {
	width: 14px;
	height: 14px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 41.964285714285715% 44.791666666666664%;
}

.svg-logout-dims {
	width: 18px;
	height: 19px;
}

.svg-next {
	@extend %svg-common;
	background-position: 19.26605504587156% 0;
}

.svg-next-dims {
	width: 21px;
	height: 43px;
}

.svg-password {
	@extend %svg-common;
	background-position: 66.10169491525424% 100%;
}

.svg-password-dims {
	width: 12px;
	height: 16px;
}

.svg-password_red {
	@extend %svg-common;
	background-position: 51.69491525423729% 82.82828282828282%;
}

.svg-password_red-dims {
	width: 12px;
	height: 16px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 64.03508771929825% 82.82828282828282%;
}

.svg-pen-dims {
	width: 16px;
	height: 16px;
}

.svg-photo {
	@extend %svg-common;
	background-position: 0 45.744680851063826%;
}

.svg-photo-dims {
	width: 27px;
	height: 21px;
}

.svg-prev {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-prev-dims {
	width: 21px;
	height: 43px;
}

.svg-rejected {
	@extend %svg-common;
	background-position: 77.58620689655173% 98.01980198019803%;
}

.svg-rejected-dims {
	width: 14px;
	height: 14px;
}

.svg-resize {
	@extend %svg-common;
	background-position: 24.545454545454547% 44.791666666666664%;
}

.svg-resize-dims {
	width: 20px;
	height: 19px;
}

.svg-right-arrow {
	@extend %svg-common;
	background-position: 22.689075630252102% 100%;
}

.svg-right-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-right-arrow_blue {
	@extend %svg-common;
	background-position: 31.932773109243698% 100%;
}

.svg-right-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-search {
	@extend %svg-common;
	background-position: 14.035087719298245% 83.6734693877551%;
}

.svg-search-dims {
	width: 16px;
	height: 17px;
}

.svg-search_blue {
	@extend %svg-common;
	background-position: 0 83.6734693877551%;
}

.svg-search_blue-dims {
	width: 16px;
	height: 17px;
}

.svg-select-close {
	@extend %svg-common;
	background-position: 86.72566371681415% 53.06122448979592%;
}

.svg-select-close-dims {
	width: 17px;
	height: 17px;
}

.svg-select2 {
	@extend %svg-common;
	background-position: 84.48275862068965% 64.48598130841121%;
}

.svg-select2-dims {
	width: 14px;
	height: 8px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 28.31858407079646% 83.6734693877551%;
}

.svg-settings-dims {
	width: 17px;
	height: 17px;
}

.svg-sortable-down {
	@extend %svg-common;
	background-position: 96.66666666666667% 46.2962962962963%;
}

.svg-sortable-down-dims {
	width: 10px;
	height: 7px;
}

.svg-sortable-up {
	@extend %svg-common;
	background-position: 96.66666666666667% 52.77777777777778%;
}

.svg-sortable-up-dims {
	width: 10px;
	height: 7px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 41.52542372881356% 82.82828282828282%;
}

.svg-trash-dims {
	width: 12px;
	height: 16px;
}

.svg-trash_white {
	@extend %svg-common;
	background-position: 55.55555555555556% 100%;
}

.svg-trash_white-dims {
	width: 13px;
	height: 16px;
}

.svg-user {
	@extend %svg-common;
	background-position: 42.98245614035088% 100%;
}

.svg-user-dims {
	width: 16px;
	height: 16px;
}

.svg-user-photo {
	@extend %svg-common;
	background-position: 41.584158415841586% 0;
}

.svg-user-photo-dims {
	width: 29px;
	height: 29px;
}

.svg-user_red {
	@extend %svg-common;
	background-position: 9.649122807017545% 100%;
}

.svg-user_red-dims {
	width: 16px;
	height: 16px;
}

