%svg-common {
  background: asset-url('rademade_admin/sprite.svg') no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 69.72477064220183% 51.111111111111114%;
}

.svg-add-dims {
	width: 18px;
	height: 17px;
}

.svg-add_blue {
	@extend %svg-common;
	background-position: 32.72727272727273% 71.11111111111111%;
}

.svg-add_blue-dims {
	width: 17px;
	height: 17px;
}

.svg-checked {
	@extend %svg-common;
	background-position: 38.53211009174312% 30.851063829787233%;
}

.svg-checked-dims {
	width: 18px;
	height: 13px;
}

.svg-close_gray {
	@extend %svg-common;
	background-position: 25.471698113207548% 49.42528735632184%;
}

.svg-close_gray-dims {
	width: 21px;
	height: 20px;
}

.svg-close_white {
	@extend %svg-common;
	background-position: 16.513761467889907% 71.91011235955057%;
}

.svg-close_white-dims {
	width: 18px;
	height: 18px;
}

.svg-dd-tile {
	@extend %svg-common;
	background-position: 100% 28.282828282828284%;
}

.svg-dd-tile-dims {
	width: 14px;
	height: 8px;
}

.svg-delete-small {
	@extend %svg-common;
	background-position: 95.76271186440678% 50.505050505050505%;
}

.svg-delete-small-dims {
	width: 9px;
	height: 8px;
}

.svg-discard_red {
	@extend %svg-common;
	background-position: 46.846846846846844% 91.20879120879121%;
}

.svg-discard_red-dims {
	width: 16px;
	height: 16px;
}

.svg-dragndrop {
	@extend %svg-common;
	background-position: 58.19672131147541% 0;
}

.svg-dragndrop-dims {
	width: 5px;
	height: 26px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 70.37037037037037% 37.11340206185567%;
}

.svg-eye-dims {
	width: 19px;
	height: 10px;
}

.svg-image {
	@extend %svg-common;
	background-position: 71.02803738317758% 0;
}

.svg-image-dims {
	width: 20px;
	height: 18px;
}

.svg-invisible {
	@extend %svg-common;
	background-position: 70.37037037037037% 20.224719101123597%;
}

.svg-invisible-dims {
	width: 19px;
	height: 18px;
}

.svg-left-arrow {
	@extend %svg-common;
	background-position: 82.75862068965517% 54.94505494505494%;
}

.svg-left-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-left-arrow_blue {
	@extend %svg-common;
	background-position: 82.75862068965517% 72.52747252747253%;
}

.svg-left-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-link {
	@extend %svg-common;
	background-position: 100% 15.053763440860216%;
}

.svg-link-dims {
	width: 14px;
	height: 14px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 0 72.72727272727273%;
}

.svg-logout-dims {
	width: 18px;
	height: 19px;
}

.svg-next {
	@extend %svg-common;
	background-position: 19.81132075471698% 0;
}

.svg-next-dims {
	width: 21px;
	height: 43px;
}

.svg-password {
	@extend %svg-common;
	background-position: 59.130434782608695% 91.20879120879121%;
}

.svg-password-dims {
	width: 12px;
	height: 16px;
}

.svg-password_red {
	@extend %svg-common;
	background-position: 69.56521739130434% 91.20879120879121%;
}

.svg-password_red-dims {
	width: 12px;
	height: 16px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 82.88288288288288% 91.20879120879121%;
}

.svg-pen-dims {
	width: 16px;
	height: 16px;
}

.svg-photo {
	@extend %svg-common;
	background-position: 0 50%;
}

.svg-photo-dims {
	width: 27px;
	height: 21px;
}

.svg-prev {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-prev-dims {
	width: 21px;
	height: 43px;
}

.svg-rejected {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-rejected-dims {
	width: 14px;
	height: 14px;
}

.svg-resize {
	@extend %svg-common;
	background-position: 44.85981308411215% 48.86363636363637%;
}

.svg-resize-dims {
	width: 20px;
	height: 19px;
}

.svg-right-arrow {
	@extend %svg-common;
	background-position: 73.27586206896552% 70.32967032967034%;
}

.svg-right-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-right-arrow_blue {
	@extend %svg-common;
	background-position: 21.551724137931036% 91.20879120879121%;
}

.svg-right-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-search {
	@extend %svg-common;
	background-position: 47.747747747747745% 71.11111111111111%;
}

.svg-search-dims {
	width: 16px;
	height: 17px;
}

.svg-search_blue {
	@extend %svg-common;
	background-position: 62.16216216216216% 71.11111111111111%;
}

.svg-search_blue-dims {
	width: 16px;
	height: 17px;
}

.svg-select-close {
	@extend %svg-common;
	background-position: 87.27272727272727% 0;
}

.svg-select-close-dims {
	width: 17px;
	height: 17px;
}

.svg-select2 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-select2-dims {
	width: 14px;
	height: 8px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 87.27272727272727% 18.88888888888889%;
}

.svg-settings-dims {
	width: 17px;
	height: 17px;
}

.svg-sortable-down {
	@extend %svg-common;
	background-position: 96.58119658119658% 36%;
}

.svg-sortable-down-dims {
	width: 10px;
	height: 7px;
}

.svg-sortable-up {
	@extend %svg-common;
	background-position: 96.58119658119658% 43%;
}

.svg-sortable-up-dims {
	width: 10px;
	height: 7px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 0 91.20879120879121%;
}

.svg-trash-dims {
	width: 12px;
	height: 16px;
}

.svg-trash_white {
	@extend %svg-common;
	background-position: 10.526315789473685% 91.20879120879121%;
}

.svg-trash_white-dims {
	width: 13px;
	height: 16px;
}

.svg-user {
	@extend %svg-common;
	background-position: 32.432432432432435% 91.20879120879121%;
}

.svg-user-dims {
	width: 16px;
	height: 16px;
}

.svg-user-photo {
	@extend %svg-common;
	background-position: 42.857142857142854% 0;
}

.svg-user-photo-dims {
	width: 29px;
	height: 29px;
}

.svg-user_red {
	@extend %svg-common;
	background-position: 86.48648648648648% 37.362637362637365%;
}

.svg-user_red-dims {
	width: 16px;
	height: 16px;
}

