%svg-common {
	background: asset-url('rademade_admin/sprite.svg') no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 92.45283018867924% 0;
}

.svg-add-dims {
	width: 18px;
	height: 17px;
}

.svg-add_blue {
	@extend %svg-common;
	background-position: 91.58878504672897% 15.88785046728972%;
}

.svg-add_blue-dims {
	width: 17px;
	height: 17px;
}

.svg-checked {
	@extend %svg-common;
	background-position: 33.9622641509434% 57.65765765765766%;
}

.svg-checked-dims {
	width: 18px;
	height: 13px;
}

.svg-close_gray {
	@extend %svg-common;
	background-position: 73.7864077669903% 24.03846153846154%;
}

.svg-close_gray-dims {
	width: 21px;
	height: 20px;
}

.svg-close_white {
	@extend %svg-common;
	background-position: 16.9811320754717% 60.37735849056604%;
}

.svg-close_white-dims {
	width: 18px;
	height: 18px;
}

.svg-datetimepicker-next {
	@extend %svg-common;
	background-position: 75.86206896551724% 90.9090909090909%;
}

.svg-datetimepicker-next-dims {
	width: 8px;
	height: 14px;
}

.svg-datetimepicker-prev {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-datetimepicker-prev-dims {
	width: 8px;
	height: 14px;
}

.svg-dd-tile {
	@extend %svg-common;
	background-position: 61.81818181818182% 55.172413793103445%;
}

.svg-dd-tile-dims {
	width: 14px;
	height: 8px;
}

.svg-delete-small {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-delete-small-dims {
	width: 9px;
	height: 8px;
}

.svg-discard_red {
	@extend %svg-common;
	background-position: 41.666666666666664% 76.85185185185185%;
}

.svg-discard_red-dims {
	width: 16px;
	height: 16px;
}

.svg-dragndrop {
	@extend %svg-common;
	background-position: 59.66386554621849% 0;
}

.svg-dragndrop-dims {
	width: 5px;
	height: 26px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 40% 25.43859649122807%;
}

.svg-eye-dims {
	width: 19px;
	height: 10px;
}

.svg-file {
	@extend %svg-common;
	background-position: 74.50980392156863% 0;
}

.svg-file-dims {
	width: 22px;
	height: 25px;
}

.svg-image {
	@extend %svg-common;
	background-position: 25.96153846153846% 40.56603773584906%;
}

.svg-image-dims {
	width: 20px;
	height: 18px;
}

.svg-info {
	@extend %svg-common;
	background-position: 89.90825688073394% 62.38532110091743%;
}

.svg-info-dims {
	width: 15px;
	height: 15px;
}

.svg-invisible {
	@extend %svg-common;
	background-position: 44.76190476190476% 40.56603773584906%;
}

.svg-invisible-dims {
	width: 19px;
	height: 18px;
}

.svg-left-arrow {
	@extend %svg-common;
	background-position: 92.92035398230088% 76.85185185185185%;
}

.svg-left-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-left-arrow_blue {
	@extend %svg-common;
	background-position: 0 92.5925925925926%;
}

.svg-left-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-link {
	@extend %svg-common;
	background-position: 87.27272727272727% 90.9090909090909%;
}

.svg-link-dims {
	width: 14px;
	height: 14px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 0 60.95238095238095%;
}

.svg-logout-dims {
	width: 18px;
	height: 19px;
}

.svg-next {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-next-dims {
	width: 21px;
	height: 43px;
}

.svg-password {
	@extend %svg-common;
	background-position: 55.357142857142854% 92.5925925925926%;
}

.svg-password-dims {
	width: 12px;
	height: 16px;
}

.svg-password_red {
	@extend %svg-common;
	background-position: 54.464285714285715% 76.85185185185185%;
}

.svg-password_red-dims {
	width: 12px;
	height: 16px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 67.5925925925926% 76.85185185185185%;
}

.svg-pen-dims {
	width: 16px;
	height: 16px;
}

.svg-photo {
	@extend %svg-common;
	background-position: 0 41.74757281553398%;
}

.svg-photo-dims {
	width: 27px;
	height: 21px;
}

.svg-prev {
	@extend %svg-common;
	background-position: 20.388349514563107% 0;
}

.svg-prev-dims {
	width: 21px;
	height: 43px;
}

.svg-rejected {
	@extend %svg-common;
	background-position: 67.27272727272727% 90.9090909090909%;
}

.svg-rejected-dims {
	width: 14px;
	height: 14px;
}

.svg-resize {
	@extend %svg-common;
	background-position: 73.07692307692308% 42.857142857142854%;
}

.svg-resize-dims {
	width: 20px;
	height: 19px;
}

.svg-right-arrow {
	@extend %svg-common;
	background-position: 23.893805309734514% 92.5925925925926%;
}

.svg-right-arrow-dims {
	width: 11px;
	height: 16px;
}

.svg-right-arrow_blue {
	@extend %svg-common;
	background-position: 33.6283185840708% 92.5925925925926%;
}

.svg-right-arrow_blue-dims {
	width: 11px;
	height: 16px;
}

.svg-search {
	@extend %svg-common;
	background-position: 15.74074074074074% 77.57009345794393%;
}

.svg-search-dims {
	width: 16px;
	height: 17px;
}

.svg-search_blue {
	@extend %svg-common;
	background-position: 90.74074074074075% 47.66355140186916%;
}

.svg-search_blue-dims {
	width: 16px;
	height: 17px;
}

.svg-select-close {
	@extend %svg-common;
	background-position: 91.58878504672897% 31.77570093457944%;
}

.svg-select-close-dims {
	width: 17px;
	height: 17px;
}

.svg-select2 {
	@extend %svg-common;
	background-position: 49.09090909090909% 55.172413793103445%;
}

.svg-select2-dims {
	width: 14px;
	height: 8px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 0 77.57009345794393%;
}

.svg-settings-dims {
	width: 17px;
	height: 17px;
}

.svg-sortable-down {
	@extend %svg-common;
	background-position: 53.50877192982456% 24.786324786324787%;
}

.svg-sortable-down-dims {
	width: 10px;
	height: 7px;
}

.svg-sortable-up {
	@extend %svg-common;
	background-position: 71.9298245614035% 54.7008547008547%;
}

.svg-sortable-up-dims {
	width: 10px;
	height: 7px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 29.464285714285715% 76.85185185185185%;
}

.svg-trash-dims {
	width: 12px;
	height: 16px;
}

.svg-trash_white {
	@extend %svg-common;
	background-position: 44.14414414414414% 92.5925925925926%;
}

.svg-trash_white-dims {
	width: 13px;
	height: 16px;
}

.svg-user {
	@extend %svg-common;
	background-position: 10.185185185185185% 92.5925925925926%;
}

.svg-user-dims {
	width: 16px;
	height: 16px;
}

.svg-user-photo {
	@extend %svg-common;
	background-position: 44.21052631578947% 0;
}

.svg-user-photo-dims {
	width: 29px;
	height: 29px;
}

.svg-user_red {
	@extend %svg-common;
	background-position: 82.4074074074074% 76.85185185185185%;
}

.svg-user_red-dims {
	width: 16px;
	height: 16px;
}

