@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset_url('glyphicons-halflings-regular.eot'),
  asset_url('glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"),
  asset_url('glyphicons-halflings-regular.woff') format("woff"),
  asset_url('glyphicons-halflings-regular.ttf') format("truetype"),
  asset_url('glyphicons-halflings-regular.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
