<!DOCTYPE html>
<html>
<head>
  <title>ToBe – RadeAdmin</title>
  <%= stylesheet_link_tag :rademade_admin, :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :rademade_admin, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <%= yield %>
</body>
</html>
